body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: #f4f7f6;
    color: #333;
    padding-top: 50px;
}

header {
    background: #0077b6;
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
}

button {
    background-color: #00b4d8;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0077b6;
}